.hamburger {
    display: none;
    position: relative;
    width: 31px;
    height: 25px;
    margin-right: 37px;
}

.hamburger.active {
    transform: translateX(0) translateY(0) rotate(90deg);
}

@media (max-width: 768px) {
    .hamburger {
        display: inline-block; 
    }
}

.hamburger::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--color-hamburger);
    border-radius: 5px;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
}

.hamburger::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--color-hamburger);
    border-radius: 5px;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.hamburger__line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--color-hamburger);
    border-radius: 5px;
    width: 100%;
    height: 3px;
    top: calc( 50% - 1.5px );
    left: 0;
}

.popup {
    display: none;
}

@media (max-width: 768px) {
    .popup {
        position: fixed;
        top: 120px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--color-light);
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0;
    }

    .popup .navigation {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .navigation > li {
        width: 100%;
    }

    .popup .navigation > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: var(--color-link)
    }

    .popup .navigation > li > a:hover {
        background-color: var(--color-background);
        color: var(--color-primary)
    }

    .body.noscroll {
        overflow: hidden;
    }
}
