.navigation {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.navigation li {
    list-style: none;
}

.navigation__link {
    padding: 0 10px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-link);
}

.navigation__link:hover {
    color: var(--color-primary);
}

@media (max-width: 768px) {
    .header__navigation {
        display: none;
    }
}
