@import "../abstract/constants.css" screen;

.wrapper {
    max-width: var(--content-width);
    margin: auto;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 46px;
    }
}

@media (max-width: 415px) {
    .wrapper {
        padding: 0 21px;
    }
}
